<html>
    <head>
        <title>Zoom Clone</title>
        <link src="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script>
            const ROOMID = "<%= roomId %>";
        </script>
        <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    </head>
    <body>
        <div id=video-grid>
        </div>
        <script src="script.js"></script> 
    </body>
</html>