<html>
    <head>
        <title>Zoom Clone</title>
        <script src="localhost:3000/socket.io/socket.io.js"></script>
        <link src="style.css">
    </head>
    <body>
        <div id=video-grid>
        </div>
        <script src="script.js"></script> 
    </body>
</html>