<html>
    <head>
        <title>Zoom Clone</title>
        <link src="style.css">
        <script src="/socket.io/socket.io.js" defer></script>
    </head>
    <body>
        <div id=video-grid>
        </div>
        <script src="script.js"></script> 
    </body>
</html>